html{
    display: flex;
    justify-content: center;
    background-color: rgb(32, 7, 49);
}

.container{
display: grid;
grid-template-columns: repeat(5, 1fr);
}

.circle{
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px;
}

.lightOn{
    background-color: yellow;
}

.timer{
    display: flex;
    justify-content: center;
    color: yellow;
}